# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
asttokens=2.0.8=pyhd8ed1ab_0
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=py_2
backports.functools_lru_cache=1.6.4=pyhd8ed1ab_0
ca-certificates=2022.9.14=ha878542_0
certifi=2022.9.14=pyhd8ed1ab_0
charset-normalizer=2.1.1=pypi_0
click=8.1.3=pypi_0
debugpy=1.5.1=py39h295c915_0
decorator=5.1.1=pyhd8ed1ab_0
einops=0.4.1=pypi_0
entrypoints=0.4=pyhd8ed1ab_0
executing=1.0.0=pyhd8ed1ab_0
filelock=3.8.0=pypi_0
huggingface-hub=0.9.1=pypi_0
idna=3.3=pypi_0
ipykernel=6.15.3=pyh210e3f2_0
ipython=8.5.0=pyh41d4057_1
jedi=0.18.1=pyhd8ed1ab_2
joblib=1.1.0=pypi_0
jupyter_client=7.0.6=pyhd8ed1ab_0
jupyter_core=4.11.1=py39hf3d152e_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.3=he6710b0_2
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libsodium=1.0.18=h36c2ea0_1
libstdcxx-ng=11.2.0=h1234567_1
matplotlib-inline=0.1.6=pyhd8ed1ab_0
ncurses=6.3=h5eee18b_3
nest-asyncio=1.5.5=pyhd8ed1ab_0
nltk=3.7=pypi_0
numpy=1.23.3=pypi_0
openssl=1.1.1q=h7f8727e_0
packaging=21.3=pyhd8ed1ab_0
pandas=1.4.4=pypi_0
parso=0.8.3=pyhd8ed1ab_0
pexpect=4.8.0=pyh9f0ad1d_2
pickleshare=0.7.5=py_1003
pillow=9.2.0=pypi_0
pip=22.1.2=py39h06a4308_0
prompt-toolkit=3.0.31=pyha770c72_0
psutil=5.9.0=py39h5eee18b_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.2=pyhd8ed1ab_0
pygments=2.13.0=pyhd8ed1ab_0
pyparsing=3.0.9=pyhd8ed1ab_0
python=3.9.13=haa1d7c7_1
python-crfsuite=0.9.8=pypi_0
python-dateutil=2.8.2=pyhd8ed1ab_0
python_abi=3.9=2_cp39
pytz=2022.2.1=pypi_0
pyvi=0.1.1=pypi_0
pyyaml=6.0=pypi_0
pyzmq=19.0.2=py39hb69f2a1_2
readline=8.1.2=h7f8727e_1
regex=2022.9.11=pypi_0
requests=2.28.1=pypi_0
scikit-learn=1.1.2=pypi_0
scipy=1.9.1=pypi_0
sentence-transformers=2.2.2=pypi_0
sentencepiece=0.1.97=pypi_0
setuptools=63.4.1=py39h06a4308_0
six=1.16.0=pyh6c4a22f_0
sklearn=0.0=pypi_0
sklearn-crfsuite=0.3.6=pypi_0
sqlite=3.39.2=h5082296_0
stack_data=0.5.0=pyhd8ed1ab_0
tab-transformer-pytorch=0.1.4=pypi_0
tabulate=0.8.10=pypi_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.12.1=pypi_0
torch=1.12.1=pypi_0
torchvision=0.13.1=pypi_0
tornado=6.1=py39hb9d737c_3
tqdm=4.64.1=pypi_0
traitlets=5.4.0=pyhd8ed1ab_0
transformers=4.21.3=pypi_0
typing-extensions=4.3.0=pypi_0
tzdata=2022a=hda174b7_0
urllib3=1.26.12=pypi_0
wcwidth=0.2.5=pyh9f0ad1d_2
wheel=0.37.1=pyhd3eb1b0_0
xz=5.2.5=h7f8727e_1
zeromq=4.3.4=h9c3ff4c_1
zlib=1.2.12=h5eee18b_3
